* {
    margin: 0;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
    display: grid;
    grid-template:
        "header header" 1fr
        "sidebar content" 9fr
        / 1fr 4fr;
    height: 100vh;
}

img {
    max-height: 80px;
    aspect-ratio: 1/1;
}

.modal {
    margin: auto;
    pointer-events: none;
    opacity: 0;
}

.visible {
    pointer-events: all;
    opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

form div {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.priority-input {
    background-color: lightslategrey;
}

.min-priority {
    color: lightblue;
}

.low-priority {
    color: lightgreen;
}

.medium-priority {
    color: gold;
}

.high-priority {
    color: orange;
}

.max-priority {
    color: lightsalmon;
}

#header {
    background-color: cadetblue;
    grid-area: header;
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
}

#pages {
    display: flex;
    justify-content: space-around;
    font-size: large;
}

#sidebar {
    background-color: aquamarine;
    grid-area: sidebar;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project {
    font-weight: bold;
    font-size: medium;
}

#content {
    grid-area: content;
}

.main {
    height: 100%;
}

#about {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    padding: 50px;
}

#attribution {
    background-color: lightgray;
    box-sizing: border-box;
    padding: 20px;
}

#todos {
    background-color: lightslategrey;
    box-sizing: border-box;
    padding: 10px;
}

#project-header {
    justify-content: center;
    display: flex;
    gap: 20px;
}

.checkbox-container {
    display: flex;
    gap: 20px;
    max-width: 100%;
}

#project-title {
    font-weight: bold;
    font-size: x-large;
}