* {
    margin: 0;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
    display: grid;
    grid-template:
        "header header" 1fr
        "sidebar content" 9fr
        / 1fr 4fr;
    height: 100vh;
}

#header {
    background-color: cadetblue;
    grid-area: header;
    font-weight: bolder;
    text-align: center;
    font-size: xx-large;
}

#pages {
    display: flex;
    justify-content: space-around;
    font-size: large;
}

#sidebar {
    background-color: aquamarine;
    grid-area: sidebar;
}

.project {
    font-weight: bold;
    font-size: medium;
}

#content {
    background-color: bisque;
    grid-area: content;
}

#project-title {
    font-weight: bold;
    font-size: large;
    text-align: center;
}

#about {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    box-sizing: border-box;
    padding: 50px;
}

.main {
    background-color: aqua;
    height: 100%;
}

.todo {
    background-color: red;
}